**Jawablah pertanyaan di bawah ini:**

**1. Buatlah SQLlite DB dan tabel dengan use case / objective yang kalian inginkan dan juga dijelaskan (misal,       ingin store student information untuk dianalisa student performance).**

* mengimport sqlalchemy untuk memanggil toolkit python sql

In [13]:
import sqlalchemy

In [14]:
sqlalchemy.__version__

'1.4.7'

In [15]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, inspect

* Mempersiapkan sistem dengan menginstall sql adapter dari PostgreeSQL dalam Python

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\acer\anaconda3\lib\site-packages (2.9.2)

In [16]:
import psycopg2

In [17]:
from sqlalchemy.sql import select, text

**MEMBUAT TABLE CASE DATABASE DI DALAM LOCAL SYSTEM**

* Case ini adalah tabel berisi tentang program diet, yang berisi id, nama, berat dan tinggi dari tiap-tiap personil.

In [18]:
engine = create_engine('sqlite:///bmi.db', echo = True)
meta = MetaData()

bmi = Table(
   'bmi', meta, 
   Column ('Id', String, primary_key = True), 
   Column ('Name',String ), 
   Column ('Weight_kg', Integer ),
   Column ('Height_cm',Integer),
)
meta.create_all(engine)

2021-12-19 16:02:07,798 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-19 16:02:07,798 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bmi")
2021-12-19 16:02:07,798 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-19 16:02:07,798 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bmi")
2021-12-19 16:02:07,798 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-12-19 16:02:07,814 INFO sqlalchemy.engine.Engine
CREATE TABLE bmi (
	"Id" VARCHAR NOT NULL,
	"Name" VARCHAR,
	"Weight_kg" INTEGER,
	"Height_cm" INTEGER,
	PRIMARY KEY ("Id")
)


2021-12-19 16:02:07,814 INFO sqlalchemy.engine.Engine [no key 0.00172s] ()
2021-12-19 16:02:07,830 INFO sqlalchemy.engine.Engine COMMIT

**2. Lakukan beberapa langkah di bawah ini:**

   **a. Insert value ke table tersebut (min 5).**
     
   **b. Update value dari table tersebut.**
     
   **c. Delete value dari table tersebut.**

**JAWAB:**

 **a. Insert value ke table tersebut (min 5).**

* Insert value tiap-tiap personil yang mengikuti program diet selama 1 bulan.

In [19]:
engine.execute(bmi.insert(), [
    {'Id': 'id_1', 'Name' : 'Abdul', 'Weight_kg' : 68, 'Height_cm' : 168 },
    {'Id': 'id_2', 'Name' : 'Aminah', 'Weight_kg' : 65, 'Height_cm' : 158},
    {'Id': 'id_3', 'Name' : 'Angga', 'Weight_kg' : 59, 'Height_cm' : 179},
    {'Id': 'id_4', 'Name' : 'Ben', 'Weight_kg' : 78, 'Height_cm' : 177},
    {'Id': 'id_5', 'Name' : 'Cacha', 'Weight_kg' : 50, 'Height_cm' : 160},
    {'Id': 'id_6', 'Name' : 'Dea', 'Weight_kg' : 45, 'Height_cm' : 155},
    {'Id': 'id_7', 'Name' : 'Farhan', 'Weight_kg' : 55, 'Height_cm' : 165},
    {'Id': 'id_8', 'Name' : 'Gea', 'Weight_kg' : 50, 'Height_cm' : 172},
    {'Id': 'id_9', 'Name' : 'Hamid', 'Weight_kg' : 72, 'Height_cm' : 167},
    {'Id': 'id_10','Name' : 'Ikhwan', 'Weight_kg' : 66, 'Height_cm' : 169}, 
       
                ])

2021-12-19 16:02:15,589 INFO sqlalchemy.engine.Engine INSERT INTO bmi ("Id", "Name", "Weight_kg", "Height_cm") VALUES (?, ?, ?, ?)
2021-12-19 16:02:15,589 INFO sqlalchemy.engine.Engine [generated in 0.00247s] (('id_1', 'Abdul', 68, 168), ('id_2', 'Aminah', 65, 158), ('id_3', 'Angga', 59, 179), ('id_4', 'Ben', 78, 177), ('id_5', 'Cacha', 50, 160), ('id_6', 'Dea', 45, 155), ('id_7', 'Farhan', 55, 165), ('id_8', 'Gea', 50, 172), ('id_9', 'Hamid', 72, 167), ('id_10', 'Ikhwan', 66, 169))
2021-12-19 16:02:15,604 INFO sqlalchemy.engine.Engine COMMIT

* Mengecek Database, apakah nilai yang di innsert sudah masuk kedalam table yang dibuat atau tidak.

In [20]:
query = """SELECT * FROM bmi """

In [21]:
rest = engine.execute(query).fetchall()
rest

2021-12-19 16:02:18,710 INFO sqlalchemy.engine.Engine SELECT * FROM bmi
2021-12-19 16:02:18,710 INFO sqlalchemy.engine.Engine [raw sql] ()

[('id_1', 'Abdul', 68, 168),
 ('id_2', 'Aminah', 65, 158),
 ('id_3', 'Angga', 59, 179),
 ('id_4', 'Ben', 78, 177),
 ('id_5', 'Cacha', 50, 160),
 ('id_6', 'Dea', 45, 155),
 ('id_7', 'Farhan', 55, 165),
 ('id_8', 'Gea', 50, 172),
 ('id_9', 'Hamid', 72, 167),
 ('id_10', 'Ikhwan', 66, 169)]

**b. Update value dari table tersebut.**

* Ternyata belum sampai 1 bulan, terdapat beberapa personil yang memiliki perubahan berat badan.

In [22]:
stmt1 = bmi.update().where(bmi.c.Name=='Abdul').values(Weight_kg=60)
engine.execute(stmt1)

2021-12-19 16:02:22,934 INFO sqlalchemy.engine.Engine UPDATE bmi SET "Weight_kg"=? WHERE bmi."Name" = ?
2021-12-19 16:02:22,934 INFO sqlalchemy.engine.Engine [generated in 0.00277s] (60, 'Abdul')
2021-12-19 16:02:22,950 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
stmt2 = bmi.update().where(bmi.c.Name=='Aminah').values(Weight_kg=59)
engine.execute(stmt2)

2021-12-19 16:02:23,666 INFO sqlalchemy.engine.Engine UPDATE bmi SET "Weight_kg"=? WHERE bmi."Name" = ?
2021-12-19 16:02:23,682 INFO sqlalchemy.engine.Engine [cached since 0.742s ago] (59, 'Aminah')
2021-12-19 16:02:23,688 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
stmt3 = bmi.update().where(bmi.c.Name=='Hamid').values(Weight_kg=70)
engine.execute(stmt3)

2021-12-19 16:02:26,792 INFO sqlalchemy.engine.Engine UPDATE bmi SET "Weight_kg"=? WHERE bmi."Name" = ?
2021-12-19 16:02:26,807 INFO sqlalchemy.engine.Engine [cached since 3.867s ago] (70, 'Hamid')
2021-12-19 16:02:26,807 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
stmt4 = bmi.update().where(bmi.c.Name=='Ikhwan').values(Weight_kg=65)
engine.execute(stmt4)

2021-12-19 16:02:27,186 INFO sqlalchemy.engine.Engine UPDATE bmi SET "Weight_kg"=? WHERE bmi."Name" = ?
2021-12-19 16:02:27,193 INFO sqlalchemy.engine.Engine [cached since 4.253s ago] (65, 'Ikhwan')
2021-12-19 16:02:27,193 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
stmt5 = bmi.update().where(bmi.c.Name=='Hamid').values(Weight_kg=70)
engine.execute(stmt5)

2021-12-19 16:02:27,709 INFO sqlalchemy.engine.Engine UPDATE bmi SET "Weight_kg"=? WHERE bmi."Name" = ?
2021-12-19 16:02:27,709 INFO sqlalchemy.engine.Engine [cached since 4.78s ago] (70, 'Hamid')
2021-12-19 16:02:27,724 INFO sqlalchemy.engine.Engine COMMIT

* Mengecek database personil terhadap nilai update.

In [27]:
query = """SELECT * FROM bmi """

In [28]:
rest = engine.execute(query).fetchall()
rest

2021-12-19 16:02:30,836 INFO sqlalchemy.engine.Engine SELECT * FROM bmi
2021-12-19 16:02:30,836 INFO sqlalchemy.engine.Engine [raw sql] ()

[('id_1', 'Abdul', 60, 168),
 ('id_2', 'Aminah', 59, 158),
 ('id_3', 'Angga', 59, 179),
 ('id_4', 'Ben', 78, 177),
 ('id_5', 'Cacha', 50, 160),
 ('id_6', 'Dea', 45, 155),
 ('id_7', 'Farhan', 55, 165),
 ('id_8', 'Gea', 50, 172),
 ('id_9', 'Hamid', 70, 167),
 ('id_10', 'Ikhwan', 65, 169)]

 **c. Delete value dari table tersebut.**

* Delete sebagian personil dalam data dikarenakan mereka tidak melanjutkan program diet untuk dibulan berikutnya.  
* Diasusmsikan bahwa mereka satu-persatu keluar dari program diet di bulan berikutnya.

In [29]:
stmt = bmi.delete().where(bmi.c.Name == 'Ikhwan')
engine.execute(stmt)

2021-12-19 16:02:34,130 INFO sqlalchemy.engine.Engine DELETE FROM bmi WHERE bmi."Name" = ?
2021-12-19 16:02:34,146 INFO sqlalchemy.engine.Engine [generated in 0.00217s] ('Ikhwan',)
2021-12-19 16:02:34,161 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
stmt = bmi.delete().where(bmi.c.Name == 'Hamid')
engine.execute(stmt)

2021-12-19 16:02:34,446 INFO sqlalchemy.engine.Engine DELETE FROM bmi WHERE bmi."Name" = ?
2021-12-19 16:02:34,461 INFO sqlalchemy.engine.Engine [cached since 0.3173s ago] ('Hamid',)
2021-12-19 16:02:34,461 INFO sqlalchemy.engine.Engine COMMIT

* Mengecek kembali database apakah personil yang keluar sudah tidak berada didalam database.

In [31]:
query = """SELECT * FROM bmi """

In [32]:
rest = engine.execute(query).fetchall()
rest

2021-12-19 16:02:38,236 INFO sqlalchemy.engine.Engine SELECT * FROM bmi
2021-12-19 16:02:38,236 INFO sqlalchemy.engine.Engine [raw sql] ()

[('id_1', 'Abdul', 60, 168),
 ('id_2', 'Aminah', 59, 158),
 ('id_3', 'Angga', 59, 179),
 ('id_4', 'Ben', 78, 177),
 ('id_5', 'Cacha', 50, 160),
 ('id_6', 'Dea', 45, 155),
 ('id_7', 'Farhan', 55, 165),
 ('id_8', 'Gea', 50, 172)]

**FINISEHD**